@import "tailwindcss";

/* Global base styles only */
:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #071f49;
  background-color: #fff7ed;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
